- different ways to create dictionary
- to access keys and values
- to add new pair
- loops in dictionary
- nested dictionary

In [3]:
student={
    "name":"john",
    "age=" :25,
    "course" :"python",
    "marks" : 80
}
print(student)

{'name': 'john', 'age=': 25, 'course': 'python', 'marks': 80}

In [4]:
info=dict(name="john",age=25,course="python",marks=80)
print(info)

{'name': 'john', 'age': 25, 'course': 'python', 'marks': 80}

For user input in dictionary

In [5]:
student={
    "name":"john",
    "age" :25,
    "course" :input("enter the course"),
    "marks" : 80
}
print(student)

{'name': 'john', 'age': 25, 'course': '', 'marks': 80}

In [6]:
info=dict(name="john",age=25,course=input("enter a course"),marks=80)
print(info)

{'name': 'john', 'age': 25, 'course': 'huigyg', 'marks': 80}

In [7]:
temp={
    "lucknow" : [25,35,28],
    "delhi" :[30,40,50],
    "chennai" :[35,40,34]


}
print(temp)

{'lucknow': [25, 35, 28], 'delhi': [30, 40, 50], 'chennai': [35, 40, 34]}

In [8]:
#1st method to access the value

print(student["name"])

john

In [9]:
#2nd method to access the value

student.get("name")

'john'

In [10]:
student["city"]="lucknow"
print(student)

{'name': 'john', 'age': 25, 'course': '', 'marks': 80, 'city': 'lucknow'}

In [11]:
student.keys()

dict_keys(['name', 'age', 'course', 'marks', 'city'])

In [12]:
student.values()

dict_values(['john', 25, '', 80, 'lucknow'])

In [13]:
student.items()

dict_items([('name', 'john'), ('age', 25), ('course', ''), ('marks', 80), ('city', 'lucknow')])

In [14]:
a=20
b=30
s=a+b
print("Sum:",s)
print("sum of",a,"and",b,"is",s)
print(f"sum of {a} and {b} is s")

Sum: 50
sum of 20 and 30 is 50
sum of 20 and 30 is s

In [15]:
for k,v  in student.items():
    print(f"{k}:{v}")

name:john
age:25
course:
marks:80
city:lucknow

In [20]:
company={
    "emp001" :{
        "name" :"john",
        "age":25,
        "dept" : "HR",
        "salary" : 30000
    },
    "emp002" : {
        "name" :"smith",
        "age" : 26,
        "dept" : "IT",
        "salary" : 40000
    },
    "emp003" :{
        "name" :"peter",
        "age" : 28,
        "dept" : "Admin",
        "salary" : 40000
    }    
}
print(company)
print(company["emp002"]["salary"])

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'smith', 'age': 26, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'peter', 'age': 28, 'dept': 'Admin', 'salary': 40000}}
40000

In [21]:
print(sum(temp["delhi"])/len(temp["delhi"]))

40.0